---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout title="Movilizate" description='Movilizate mas que una web, consigue el físico que tanto quieres,planes de entrenamiento y nutrición personalizados'>
	<main>
		<SectionContainer>
			
		</SectionContainer>
		
	</main>
</Layout>
