---
import Layout from "../layouts/Layout.astro";
import IconoCasa from "../components/icons/IconoCasa.astro";
import IconoMovil from "../components/icons/IconoMovil.astro";
import IconoEntrenador from "../components/icons/IconoEntrenador.astro";
import IconoMusculo from "../components/icons/IconoMusculo.astro";
import Testimonios from "../components/Testimonios.astro";
import Patrocinadores from "../components/Patrocinadores.astro";
---

<Layout
	title="Movilizate"
	description="Movilizate mas que una web, consigue el físico que tanto quieres,planes de entrenamiento y nutrición personalizados"
>
	<main>
		<div class="relative flex items-center" style="height: calc(100vh - 7rem)">
			<picture
				class="absolute top-0 left-0 w-full h-full overflow-hidden lg:w-full "
				>
				<source
					srcset="/fotoPrincipalInicio.webp"
					media="(min-width: 1024px)"
				/>
				<source
					srcset="/fotoPrincipalIniciomax.jpg"
					media="(min-width: 768px)"
				/>
				<img
					src="/fotoPrincipalIniciomovil2.jpg"
					alt="Tu imagen de fondo"
					class="object-fill object-center h-full w-full"
				/>
			</picture>
			<div class="absolute max-md:inset-0 max-md:bg-black max-md:opacity-50"></div>
			<div class="text-white text-center z-10 relative md:ml-[15%] gap-7 flex flex-col items-center">
				<h1 class="text-5xl md:text-6xl lg:text-8xl font-bold mb-4">
					<p class="text-green-500">CONSIGUE</p>
					<p>EL FISICO QUE</p>TANTO <span class="text-green-500">QUIERES</span>
				</h1>
				<p class="text-lg md:text-xl lg:text-2xl">
					Planes de entrenamiento y nutrición personalizados para tu
					objetivo
				</p>
				<p class="text-lg md:text-xl lg:text-2xl">
					Movilizate, eres tu salud
				</p>
				<a href="#" class="inline-flex justify-center w-52 hover:text-green-500 items-center py-3 px-5 sm:ms-4 text-lg font-medium text-center text-white rounded-lg border border-white hover:bg-white">
					APÚNTATE YA!
				</a> 
			</div>
		</div>
		<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 xl:gap-10 info mx-auto pt-10 max-sm:pb-10 px-4 sm:px-6 lg:px-40 items-center">
			<div class="h-full w-full rounded-lg flex flex-col items-center">
				<div class="h-[150px] flex items-end"><IconoCasa class="size-28 "/></div>
				<div class="h-[150px] mt-4"><h2 class="text-3xl font-bold flex max-3xl:flex-col max-3xl:items-center">Entrena desde <span class="ml-2">casa</span></h2></div>
			</div>
			<div class="h-full w-full rounded-lg flex flex-col items-center">
				<div class="h-[150px] flex items-end"><IconoMovil class="size-28" /></div>
				<div class="h-[150px] mt-4"><h2 class="text-3xl font-bold flex max-4xl:flex-col max-4xl:items-center">Todo desde <span>nuestra app</span></h2></div>
			</div>
			<div class="h-full w-full rounded-lg flex flex-col items-center">
				<div class="h-[150px] flex items-end"><IconoEntrenador class="size-28" /></div>
				<div class="h-[150px] mt-4"><h2 class="text-3xl font-bold">Coach 24H</h2></div>
			</div>
			<div class="h-full w-full rounded-lg flex flex-col items-center">
				<div class="h-[150px] flex items-end"><IconoMusculo class="size-28" /></div>
				<div class="h-[150px] mt-4 flex flex-col items-center">
					<h2 class="text-3xl font-bold">Entrenamiento</h2>
					<h2 class="text-3xl font-bold flex max-4xl:flex-col max-4xl:items-center">y nutrición<span class="ml-2">personalizado</span></h2>
				</div>
			</div>
		</div>
		<Testimonios/>
		<Patrocinadores/>
	</main>
</Layout>

<style>
	.info {
		color: white;
		background-color: rgb(41, 41, 173);
	}
</style>
