<div class="space-y-4">
    <details
        class="group border-s-4 border-[#91daf6] bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
    >
        <summary
            class="flex cursor-pointer items-center justify-between gap-1.5"
        >
            <h2 class="text-lg font-medium text-gray-900">
                ¿Qué es Movilízate?
            </h2>

            <span
                class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-45"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
        </summary>

        <p
            class="mt-4 leading-relaxed text-gray-700 transition-all duration-300"
        >
            • Movilízate es una metodología innovadora si quieres cambiar tu
            físico cuando no tienes tiempo ni ganas de estar 2 horas en un
            gimnasio como todos te dicen.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • Trabajamos con planes de entrenamiento y nutrición totalmente
            personalizados a tus necesidades. Nos especializamos en que todo lo
            puedas realizar desde tu casa, en el parque y hasta en el trabajo,
            así que si no tienes tiempo ya no tienes excusa.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • Tenemos un equipo 100% formado y con mucha experiencia que te va a
            asegurar cambiar tu vida en menos de 90 días!
        </p>
    </details>

    <details
        class="group border-s-4 border-[#91daf6] bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
    >
        <summary
            class="flex cursor-pointer items-center justify-between gap-1.5"
        >
            <h2 class="text-lg font-medium text-gray-900">
                ¿Cuáles son los beneficios de unirse a un gimnasio online en
                comparación con uno tradicional?
            </h2>

            <span
                class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-45"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
        </summary>

        <p class="mt-4 leading-relaxed text-gray-700">
            • La principal diferencia es la organización y el tiempo. Al ser
            todo Online se te planifica lo que tienes que hacer y tú eliges
            cuando, donde y cómo realizarlo.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Otro gran beneficio es el tiempo, que si no dispones de él, todo
            el plan está pensado para realizar todos los entrenamientos en menos
            de 30 minutos, así que no hay excusa a parte de ser muchísimo más
            accesible!
        </p>
    </details>
    <details
        class="group border-s-4 border-[#91daf6] bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
    >
        <summary
            class="flex cursor-pointer items-center justify-between gap-1.5"
        >
            <h2 class="text-lg font-medium text-gray-900">
                ¿Que puedo obtener de esto?
            </h2>

            <span
                class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-45"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
        </summary>

        <p class="mt-4 leading-relaxed text-gray-700">
            En Movilízate nos centramos en 3 pilares que nos parecen
            fundamentales para cambiar tu físico
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • <span class="text-[#91daf6] font-bold">Entrenamiento</span>: Como
            profesionales de la actividad física y el deporte, hemos diseñado
            rutinas de ejercicio efectivas que se adaptan a tu nivel. Para que
            puedas entrenar en pocos minutos donde tú quieras y para que sepas
            exactamente cómo debes hacerlo. Sin necesidad de material
            específico.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • <span class="text-[#91daf6] font-bold">Nutrición</span>: Nuestros
            profesionales de nutrición dietética y humana han diseñado menús
            saludables y pautas alimentarias con las que aprenderás a comer sano
            sin sufrir teniendo hasta 3 opciones por cada comida del día. ¡En
            Movilízate no nos gustan las dietas estrictas!
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • <span class="text-[#91daf6] font-bold">Motivación</span>: Gracias
            a tu Coach que estará 24h contigo vas a conseguir esa motivación
            para lograr el físico que siempre has querido. A parte de la
            comunidad tan constructiva que estamos creando para entre todos
            darnos ese empujón que a veces nos falta y es tan importante!
        </p>
    </details>
    <details
        class="group border-s-4 border-[#91daf6] bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
    >
        <summary
            class="flex cursor-pointer items-center justify-between gap-1.5"
        >
            <h2 class="text-lg font-medium text-gray-900">
                Planes Entrenamiento
            </h2>

            <span
                class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-45"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
        </summary>

        <p class="mt-4 leading-relaxed text-gray-700">
            • Tu Coach te personaliza y planifica tus entrenamientos en base a
            tu tiempo, situación y necesidades, para que se adapte a ti lo
            máximo posible.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Todos los ejercicios van con su respectivo video explicativo para
            que no tengas ningún tipo de duda a la hora de realizarlos!
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Haces el entrenamiento, lo registrar y listo.
        </p>
    </details>
    <details
        class="group border-s-4 border-[#91daf6] bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
    >
        <summary
            class="flex cursor-pointer items-center justify-between gap-1.5"
        >
            <h2 class="text-lg font-medium text-gray-900">Planes Nutrición</h2>

            <span
                class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-45"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
        </summary>

        <p class="mt-4 leading-relaxed text-gray-700">
            • No nos gustan las dietas estrictas, ni los menús monótonos y
            tampoco que te sea un reto cocinar algo saludable para ti, por eso
            hemos creado nuestro propio método.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Por cada comida, nuestro nutricionista te va a planificar hasta 3
            opciones para que te las distribuyas como tú elijas durante la
            semana.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Tienes un plan totalmente personalizado en base a tu objetivo, tu
            disponibilidad en la cocina y sin que tengas que comerte la cabeza
            comprando cosas extrañas.
        </p>
    </details>
    <details
        class="group border-s-4 border-[#91daf6] bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
    >
        <summary
            class="flex cursor-pointer items-center justify-between gap-1.5"
        >
            <h2 class="text-lg font-medium text-gray-900">
                ¿Como controlo mi evolución?
            </h2>

            <span
                class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-45"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
        </summary>

        <p class="mt-4 leading-relaxed text-gray-700">
            • Depende el plan que elijas, tienes una revisión cada 7 o 15 días,
            en la que apuntarás peso, métricas y fotos junto a tu Coach.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Así veréis si hay que modificar algo del plan, observar
            resultados y llevar un control de cómo va vuestro camino.
        </p>
    </details>
    <details
        class="group border-s-4 border-[#91daf6] bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
    >
        <summary
            class="flex cursor-pointer items-center justify-between gap-1.5"
        >
            <h2 class="text-lg font-medium text-gray-900">
                ¿Como te organizamos todo esto?
            </h2>

            <span
                class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-45"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
        </summary>

        <p class="mt-4 leading-relaxed text-gray-700">
            • Gracias a nuestra App totalmente gratuita para vosotros, tu Coach
            te planificará todos tus entrenamientos, planes nutricionales y
            revisiones ahí.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Se acabaron los pdf, el estar buscando y perder el tiempo.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Te metes en la App, ves lo que tienes que hacer en el día, lo
            haces, lo registras y listo!
        </p>
    </details>
    <details
        class="group border-s-4 border-[#91daf6] bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
    >
        <summary
            class="flex cursor-pointer items-center justify-between gap-1.5"
        >
            <h2 class="text-lg font-medium text-gray-900">
                ¿Necesito tener equipo especial para hacer los ejercicios?
            </h2>

            <span
                class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-45"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
        </summary>

        <p class="mt-4 leading-relaxed text-gray-700">
            • No necesitas ningún material especial, simplemente necesitas un
            pequeño espacio, ganas y buena música para completar tus
            entrenamientos!
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Utiliza material que tengas por casa como una mochila, bolsas o
            garrafas. No tienes límite.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Si te recomendamos que adquieras algún material como una
            esterilla para no hacerte daño en los ejercicios en el suelo.
        </p>
    </details>
    <details
        class="group border-s-4 border-[#91daf6] bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden"
    >
        <summary
            class="flex cursor-pointer items-center justify-between gap-1.5"
        >
            <h2 class="text-lg font-medium text-gray-900">
                ¿Qué nivel de experiencia o condición física se requiere para
                apuntarme?
            </h2>

            <span
                class="shrink-0 rounded-full bg-white p-1.5 text-gray-900 sm:p-3"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5 shrink-0 transition duration-300 group-open:-rotate-45"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
        </summary>

        <p class="mt-4 leading-relaxed text-gray-700">
            • No necesitas tener ningún nivel, ni experiencia... Nosotros nos
            adaptamos a ti totalmente.
        </p>
        <p class="mt-4 leading-relaxed text-gray-700">
            • ⁠Si lo que te da es miedo o vergüenza no te preocupes por eso,
            todos tuvimos que empezar en algún momento y este es tu momento!
        </p>
    </details>
</div>
