<header class="flex justify-between items-center py-3 w-[1120px]">
    <img class="size-32" src="/logo.webp" alt="Astro logo" />

    <nav class="flex flex-row gap-x-10 opacity-80"> 
        <a href="/">Inicio</a>
        <a href="/sobreNosotros">Sobre nosotros</a>
        <a href="/planes">Planes</a>
        <a href="/contacto">Contacto</a>
    </nav>
</header>