<section class="bg-gray-50">
    <div
        class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
    >
        <div class="mx-auto max-w-xl text-center">
            <h1 class="text-3xl font-extrabold sm:text-5xl">Nuestro Equipo</h1>
            <h1 class="text-3xl font-extrabold sm:text-5xl">
                <strong class="font-extrabold text-red-700 sm:block">
                    Lo mejor de nosotros
                </strong>
            </h1>

            <p class="mt-4 sm:text-xl/relaxed">
                Todo nuestro equipo está formado y titulado, como por ejemplo
                nuestro Coach Angel Bustamante con su titulacion de TSAF
                (Técnico Superior en Acondicionamiento Físico) dispuesto a
                cumplir vuestros objetivos físicos y mentales
            </p>
        </div>
    </div>
</section>
