<div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 sm:items-center md:gap-8">
    <div
      class="rounded-2xl border border-gray-200 p-6 shadow-sm sm:px-8 lg:p-12"
    >
      <div class="text-center">
        <h2 class="text-2xl font-medium text-gray-900">
          Movilizate Esencial
          <span class="sr-only">Plan</span>
        </h2>

        <p class="mt-2 sm:mt-4">
          <strong class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
            200€
          </strong>

          <span class="text-sm font-medium text-gray-700">/Trimestral</span>
        </p>
      </div>
      <h2 class="text-lg font-medium text-[#029CD6] mt-4">
        Plan personalizado básico
        <span class="sr-only">Plan</span>
      </h2>
      <ul class="mt-6 space-y-2">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Entrenamiento y nutrición </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Coach 24H </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Acceso a aplicación </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Revisión cada 15 días </span>
        </li>
      </ul>

      <a
        href="https://form.jotform.com/240783907529366"
        class="mt-8 block rounded-full border border-[#029CD6] bg-white px-12 py-3 text-center text-sm font-medium text-[#029CD6] hover:ring-1 hover:ring-[#029CD6] focus:outline-none focus:ring active:text-[#029CD6]"
      >
        Comenzar
      </a>
    </div>
    <div
      class="rounded-2xl border border-[#029CD6] p-6 shadow-sm ring-1 ring-[#029CD6] sm:px-8 lg:p-12"
    >
      <div class="text-center">
        <h2 class="text-2xl font-medium text-gray-900">
          Movilizate Plus
          <span class="sr-only">Plan</span>
        </h2>

        <p class="mt-2 sm:mt-4">
          <strong class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
            350€
          </strong>

          <span class="text-sm font-medium text-gray-700">/Trimestral</span>
        </p>
      </div>
      <h2 class="text-lg font-medium text-[#029CD6] mt-4">
        Plan personalizado básico
        <span class="sr-only">Plan</span>
      </h2>
      <ul class="mt-6 space-y-2">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Entrenamiento y nutrición </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Coach 24H </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Acceso a aplicación </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Revisión cada 15 días</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> +130 recetas saludables </span>
        </li>
      </ul>

      <a
        href="https://form.jotform.com/240783990364365"
        class="mt-8 block rounded-full border border-[#029CD6] bg-[#029CD6] px-12 py-3 text-center text-sm font-medium text-white hover:bg-[#029CD6] hover:ring-1 hover:ring-[#029CD6] focus:outline-none focus:ring active:text-[#029CD6]"
      >
        Comenzar
      </a>
    </div>
    <div
      class="rounded-2xl border border-gray-200 p-6 shadow-sm sm:px-8 lg:p-12"
    >
      <div class="text-center">
        <h2 class="text-2xl font-medium text-gray-900">
          Movilizate Supreme+
          <span class="sr-only">Plan</span>
        </h2>

        <p class="mt-2 sm:mt-4">
          <strong class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
            500€
          </strong>

          <span class="text-sm font-medium text-gray-700">/Trimestral</span>
        </p>
      </div>
      <h2 class="text-lg font-medium text-[#029CD6] mt-4">
        Plan personalizado avanzado
        <span class="sr-only">Plan</span>
      </h2>
      <ul class="mt-6 space-y-2">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Entrenamiento y nutrición </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Coach 24H </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Acceso a la aplicación </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Revisión semanal </span>
        </li>
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Código de descuento en "Efne" </span>
        </li>
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> Guía de iniciación gratis </span>
        </li>
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-[#029CD6]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>

          <span class="text-gray-700"> +130 recetas saludables </span>
        </li>
      </ul>

      <a
        href="https://form.jotform.com/240783499187372"
        class="mt-8 block rounded-full border border-[#029CD6] bg-white px-12 py-3 text-center text-sm font-medium text-[#029CD6] hover:ring-1 hover:ring-[#029CD6] focus:outline-none focus:ring active:text-[#029CD6]"
      >
        Comenzar
      </a>
    </div>
  </div>
</div>
