
  <div class="relative h-screen flex items-center" style="height: calc(100vh - 7rem)">
    <picture class="absolute top-0 left-0 w-full h-full overflow-hidden lg:w-full">
      <source srcset="/maximo.jpg" media="(min-width: 2100px)" />
      <source srcset="/medio.jpg" media="(min-width: 1250px)" />
      <source srcset="/pequeño.jpg" media="(min-width: 768px)" />
      <img alt="" src="/movil.jpg" class="object-fill object-center h-full w-full" />
    </picture>
    <div class="text-white text-center z-10 relative ml-[15%] gap-7 flex flex-col items-center w-1/2 ">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4">
        <p>CONSIGUE</p>
        <p>EL CUERPO QUE QUIERES</p>
        <p>PARA SIEMPRE</p>
      </h1>
      <a href="#" class="inline-flex justify-center w-52 hover:text-black items-center py-3 px-5 sm:ms-4 text-lg font-medium text-center text-white rounded-lg border border-white hover:bg-white">
        APÚNTATE YA!
      </a> 
    </div>
  </div>

