<section class="overflow-hidden bg-gray-50 grid grid-cols-1 gap-4 3xl:grid-cols-3 lg:gap-8 sm:items-center">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit
      </h2>
      <p class="hidden text-gray-500 md:mt-4 md:block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam
        sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet amet volutpat
        quisque ut interdum tincidunt duis.
      </p>

      <div class="mt-4 md:mt-8">
        <a
          href="#"
          class="inline-block rounded bg-emerald-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-emerald-700 focus:outline-none focus:ring focus:ring-yellow-400"
        >
          Get Started Today
        </a>
      </div>
    </div>
  </div>
  <div class="relative h-screen flex items-center lg:col-span-2" style="height: calc(100vh - 7rem);">
    <picture class="absolute top-0 left-0 w-full h-full overflow-hidden lg:w-full">
      <source srcset="/7.webp" media="(min-width: 1024px)" />
      <source srcset="/7.webp" media="(min-width: 768px)" />
      <img alt="" src="/7.webp" class="h-full w-full object-cover sm:h-[calc(100% - 2rem)] sm:self-end sm:rounded-ss-[30px] md:h-[calc(100% - 4rem)] md:rounded-ss-[60px]" />
    </picture>
    <div class="text-white text-center z-10 relative ml-[15%] gap-7 flex flex-col items-center w-1/2 ">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4">
        <p>CONSIGUE</p>
        <p>EL CUERPO QUE QUIERES</p>
        <p>PARA SIEMPRE</p>
      </h1>
      <a href="#" class="inline-flex justify-center w-52 hover:text-[#2929AD] items-center py-3 px-5 sm:ms-4 text-lg font-medium text-center text-white rounded-lg border border-white hover:bg-white">
        APÚNTATE YA!
      </a> 
    </div>
  </div>
</section>
