---
import { Image } from "astro:assets";
import imgSobrenosotros1 from "../assets/imgSobrenosotros/1.webp";
import imgSobrenosotros2 from "../assets/imgSobrenosotros/2.webp";
import imgSobrenosotros3 from "../assets/imgSobrenosotros/3.webp";
import imgSobrenosotros4 from "../assets/imgSobrenosotros/4.webp";
import { fade } from "astro:transitions";
---

<section class="text-gray-600 body-font overflow-hidden">
  <div
    class="container px-5 lg:px-10 pt-10 sm:py-24 mx-auto flex justify-center flex-wrap items-center max-sm:h-[calc(100vh -5rem) h-[calc(100vh -7rem)"
  >
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-[60%] xl:w-1/2 sm:w-1/2 content-start sm:pr-10"
    >
      <div
        class="w-full sm:p-4 px-4 mb-6"
        transition:animate={fade({ duration: "0.4s" })}
      >
        <h1
          class="text-3xl md:text-4xl lg:text-4xl xl:text-6xl font-bold mb-4 text-gray-900"
        >
          <span
            style="
background-image: url(/underline.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: right bottom 5%;
"
            >Planes
          </span> de entrenamiento y Nutrición
        </h1>
        <div class="text-sm md:text-lg 2xl:text-2xl relative">
          Desde
          <span
            class="font-bold"
            style="
            background-image: url(/blue_highlight_bold_03.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            white-space: nowrap;"
            >Movilizate,
          </span> te damos acceso a que puedas tener tu plan de entrenamiento y nutrición
          totalmente
          <span
            style="
          background-image: url(/underline.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: right bottom 5%;
          padding: 7px 0px;
        "
            >personalizado
          </span>para que puedas conseguir por fin el cambio
          <span
            style="
        background-image: url(/underline.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom 5%;
        "
            >físico
          </span>
          y
          <span
            style="
            background-image: url(/underline.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right bottom 5%;
          "
            >mental
          </span>
          que siempre has estado postponiendo. ¡Nos ajustamos a tu tiempo y a tus
          <span
            style="
          background-image: url(/blue_highlight_01.svg);
          background-position: bottom center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          padding: 3px 0px;
          "
            >alimentos favoritos
          </span> para que podamos
          <span
            style="
      background-image: url(/underline.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right bottom 5%;
      "
            >disfrutar
          </span>del proceso
          <span
            class="font-bold"
            style="
          background-image: url(/blue_highlight_bold_03.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          white-space: nowrap;"
            >juntos!
          </span>
        </div>
      </div>
    </div>
    <div
      class="xl:w-[40%] lg:w-[40%] sm:w-1/2 w-full rounded-lg mt-6 sm:mt-0 animated fadeInRight"
    >
      <Image
        class="object-cover object-center w-full h-[300px] sm:h-[250px] md:h-[350px] lg:h-full"
        src={imgSobrenosotros1}
        alt="stats"
        loading={"eager"}
      />
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div
    class="container px-5 pt-24 sm:py-24 mx-auto flex flex-wrap max-sm:flex-col-reverse justify-center items-center"
  >
    <div
      class="xl:w-[40%] lg:w-[40%] sm:w-1/3 w-full rounded-lg mt-6 sm:mt-0"
      data-aos="flip-left"
    >
      <Image
        class="object-cover object-center w-full h-[400px] lg:h-[700px]"
        src={imgSobrenosotros2}
        alt="stats"
        loading={"eager"}
      />
    </div>
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-[60%] xl:w-1/2 sm:w-2/3 content-start sm:pl-28"
    >
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1
          class="text-3xl md:text-4xl lg:text-4xl xl:text-6xl font-bold mb-4 text-gray-900"
          data-aos="fade-down"
        >
          <span
            style="
background-image: url(/underline.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: right bottom 5%;
"
            >Todo
          </span> desde casa
        </h1>
        <div class="text-sm md:text-lg 2xl:text-2xl" data-aos="fade-up">
          No debes preocuparte si lo que te falta es
          <span
            class="font-bold"
            style="
            background-image: url(/blue_highlight_bold_03.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            white-space: nowrap;"
            >tiempo
          </span>o
          <span
            class="font-bold"
            style="
            background-image: url(/blue_highlight_bold_03.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            white-space: nowrap;"
            >motivación
          </span>para ir al gimnasio, porque no es necesario hacerlo para poder
          conseguir tu cambio. Está científicamente demostrado por la OMS que
          <span
            style="
            background-image: url(/underline.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right bottom 5%;
            "
            >entrenar
          </span>
          desde casa tiene grandes efectos beneficiarios, tanto psicológicos como
          físicos. ¡Así que si por tu trabajo no tienes tiempo o simplemente no te
          gusta ir al gimnasio, en
          <span
            class="font-bold"
            style="
            background-image: url(/blue_highlight_bold_03.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            white-space: nowrap;"
            >Movilizate,
          </span> tenemos la
          <span
            style="
            background-image: url(/underline.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right bottom 5%;
            "
            >solución
          </span> a tu problema!
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div
    class="container px-5 pt-24 sm:py-24 mx-auto flex flex-wrap justify-center items-center"
  >
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-[60%] xl:w-1/2 sm:w-1/2 content-start sm:pr-10"
    >
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1
          class="text-3xl md:text-4xl lg:text-4xl xl:text-6xl font-bold mb-4 text-gray-900 show-on-scrollLeft"
        >
          <span
            style="
background-image: url(/underline.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: right bottom 5%;
"
            >Trabaja
          </span> con tu Coach
        </h1>
        <div class="text-sm md:text-lg 2xl:text-2xl show-on-scrollRight">
          Seguro que durante el camino hacia tu objetivo tienes muchas preguntas
          pero eso no será un problema, ya que tu coach será tu
          <span
            style="
          background-image: url(/underline.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: right bottom 5%;
          "
            >asesor 24h
          </span>
          durante el proceso. Te preparará tus
          <span
            class="font-bold"
            style="
            background-image: url(/blue_highlight_01.svg);
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 3px 0px;
            "
            >entrenamientos
          </span>
          y
          <span
            class="font-bold"
            style="
            background-image: url(/blue_highlight_01.svg);
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 3px 0px;
            "
            >planes nutricionales
          </span>
          en base a ti. ¡Cada semana tendréis una
          <span
            class="font-bold"
            style="
          background-image: url(/blue_highlight_01.svg);
          background-position: bottom center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          padding: 3px 0px;
          "
            >revisión telemática
          </span> en la que veréis el
          <span
            style="
        background-image: url(/underline.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom 5%;
        "
            >progreso
          </span> semana a semana! ¡Si tu preocupación era estar solo en el camino,
          olvídate de eso!
        </div>
      </div>
    </div>
    <div
      class="xl:w-[40%] lg:w-[40%] sm:w-1/2 w-full rounded-lg mt-6 sm:mt-0 show-on-scrollInDown"
    >
      <Image
        class="object-cover object-center w-full h-[380px] lg:h-full"
        src={imgSobrenosotros3}
        alt="stats"
        loading={"eager"}
      />
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div
    class="container px-5 py-24 mx-auto flex flex-wrap max-sm:flex-col-reverse justify-center items-center"
  >
    <div
      class="xl:w-[40%] lg:w-[40%] sm:w-1/2 w-full rounded-lg mt-6 sm:mt-0 show-on-scrollLeft"
    >
      <Image
        class="object-cover object-center h-[240px] sm:h-full w-[300] lg:w-full"
        src={imgSobrenosotros4}
        alt="stats"
        loading={"eager"}
      />
    </div>
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-[60%] xl:w-1/2 sm:w-1/2 content-start sm:pl-28"
    >
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1
          class="text-3xl md:text-4xl lg:text-4xl xl:text-6xl font-bold mb-4 text-gray-900 show-on-scrollInUp"
        >
          <span
            style="
  background-image: url(/underline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom 5%;
  "
            >Utiliza
          </span>nuestra App
        </h1>
        <div class="text-sm md:text-lg 2xl:text-2xl show-on-scrollInDown">
          Desde nuestra App "Harbiz" tienes acceso a toda tu
          <span
            class="font-bold"
            style="
            background-image: url(/blue_highlight_bold_03.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            white-space: nowrap;"
            >planificación
          </span>,
          <span
            class="font-bold"
            style="
            background-image: url(/blue_highlight_bold_03.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            white-space: nowrap;"
            >progreso
          </span> y muchas más
          <span
            class="font-bold"
            style="
            background-image: url(/blue_highlight_bold_03.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            white-space: nowrap;"
            >funciones
          </span>funciones supersencillas e intuitivas. ¡Nuestra prioridad es
          hacerte las cosas
          <span
            style="
      background-image: url(/underline.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right bottom 5%;
      "
            >más fáciles
          </span> y con nuestra App no te tienes que preocupar de nada más que cumplir
          con tu planificación!
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* al hacer scroll haga la animacion */
  .show-on-scrollInDown {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: fadeInDown;
    animation-range: entry 20% cover 35%;
    animation-fill-mode: both;
  }
  .show-on-scrollInUp {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: fadeInUp;
    animation-range: entry 20% cover 35%;
    animation-fill-mode: both;
  }
  .show-on-scrollLeft {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: fadeInLeft;
    animation-range: entry 20% cover 35%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .show-on-scrollRight {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: fadeInRight;
    animation-range: entry 20% cover 35%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
</style>
<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="module">
  document.addEventListener("astro:page-load", function () {
    // Inicializar AOS después de que la página se haya cargado completamente
    AOS.init();
  });
</script>
