<section class="text-gray-600 body-font overflow-hidden">
  <div
    class="container px-5 lg:px-10 pt-10 sm:py-24 mx-auto flex justify-center flex-wrap items-center max-sm:h-[calc(100vh -5rem) h-[calc(100vh -7rem)"
  >
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-[60%] xl:w-1/2 sm:w-1/2 content-start sm:pr-10"
    >
      <div class="w-full sm:p-4 px-4 mb-6 animated fadeInUp">
        <h1
          class="text-3xl md:text-4xl lg:text-4xl xl:text-6xl font-bold mb-4 text-gray-900"
        >
          Planes de entrenamiento y Nutrición
        </h1>
        <div class="text-sm md:text-lg 2xl:text-2xl">
          Desde Movilizate, te damos acceso a que puedas tener tu plan de
          entrenamiento y nutrición totalmente personalizado para que puedas
          conseguir por fin el cambio físico y mental que siempre has estado
          postponiendo. ¡Nos ajustamos a tu tiempo y a tus alimentos favoritos
          para que podamos disfrutar del proceso juntos!
        </div>
      </div>
    </div>
    <div
      class="xl:w-[40%] lg:w-[40%] sm:w-1/2 w-full rounded-lg mt-6 sm:mt-0 animated fadeInRight"
    >
      <img
        class="object-cover object-center w-full h-[300px] sm:h-[250px] md:h-[350px] lg:h-full"
        src="/imgSobrenosotros/1.webp"
        alt="stats"
      />
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div
    class="container px-5 pt-24 sm:py-24 mx-auto flex flex-wrap max-sm:flex-col-reverse justify-center items-center"
  >
    <div
      class="xl:w-[40%] lg:w-[40%] sm:w-1/3 w-full rounded-lg mt-6 sm:mt-0 show-on-scrollLeft"
    >
      <img
        class="object-cover object-center w-full h-[300px] md:h-[400px] lg:h-[700px]"
        src="/imgSobrenosotros/2.webp"
        alt="stats"
      />
    </div>
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-[60%] xl:w-1/2 sm:w-2/3 content-start sm:pl-28"
    >
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1
          class="text-3xl md:text-4xl lg:text-4xl xl:text-6xl font-bold mb-4 text-gray-900 show-on-scrollInDown"
        >
          Todo desde casa
        </h1>
        <div class="text-sm md:text-lg 2xl:text-2xl show-on-scrollInUp">
          No debes preocuparte si lo que te falta es tiempo o motivación para ir
          al gimnasio, porque no es necesario hacerlo para poder conseguir tu
          cambio. Está científicamente demostrado por la OMS que entrenar desde
          casa tiene grandes efectos beneficiarios, tanto psicológicos como
          físicos. ¡Así que si por tu trabajo no tienes tiempo o simplemente no
          te gusta ir al gimnasio, en Movilízate tenemos la solucion a tu
          problema!
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div
    class="container px-5 pt-24 sm:py-24 mx-auto flex flex-wrap justify-center items-center"
  >
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-[60%] xl:w-1/2 sm:w-1/2 content-start sm:pr-10"
    >
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1
          class="text-3xl md:text-4xl lg:text-4xl xl:text-6xl font-bold mb-4 text-gray-900 show-on-scrollLeft"
        >
          Trabaja con tu Coach
        </h1>
        <div class="text-sm md:text-lg 2xl:text-2xl show-on-scrollRight">
          Seguro que durante el camino hacia tu objetivo tienes muchas preguntas
          pero eso no será un problema, ya que tu coach será tu asesor 24 h
          durante el proceso. Te preparará tus entrenamientos y planes
          nutricionales en base a ti. ¡Cada semana tendréis una revisión
          telemática en la que veréis el progreso semana a semana! ¡Si tu
          preocupación era estar sola en el camino, olvídate de eso!
        </div>
      </div>
    </div>
    <div
      class="xl:w-[40%] lg:w-[40%] sm:w-1/2 w-full rounded-lg mt-6 sm:mt-0 show-on-scrollInDown"
    >
      <img
        class="object-cover object-center w-full h-[300px] sm:h-[300px] md:h-[380px] lg:h-full"
        src="/imgSobrenosotros/3.webp"
        alt="stats"
      />
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div
    class="container px-5 pt-24 sm:py-24 mx-auto flex flex-wrap max-sm:flex-col-reverse justify-center items-center"
  >
    <div
      class="xl:w-[40%] lg:w-[40%] sm:w-1/2 w-full rounded-lg mt-6 sm:mt-0 show-on-scrollLeft"
    >
      <img
        class="object-cover object-center h-[240px] sm:h-full w-[300] lg:w-full"
        src="/imgSobrenosotros/4.webp"
        alt="stats"
      />
    </div>
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-[60%] xl:w-1/2 sm:w-1/2 content-start sm:pl-28"
    >
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1
          class="text-3xl md:text-4xl lg:text-4xl xl:text-6xl font-bold mb-4 text-gray-900 show-on-scrollInUp"
        >
          Utiliza nuestra App
        </h1>
        <div class="text-sm md:text-lg 2xl:text-2xl show-on-scrollInDown">
          Desde nuestra App "Harbiz" tienes acceso a toda tu planificación,
          progreso y muchas más funciones supersencillas e intuitivas. ¡Nuestra
          prioridad es hacerte las cosas más fáciles y con nuestra App no te
          tienes que preocupar de nada más que cumplir con tu planificación!
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* al hacer scroll haga la animacion */
  .show-on-scrollInDown {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: fadeInDown;
    animation-range: entry 20% cover 35%;
    animation-fill-mode: both;
  }
  .show-on-scrollInUp {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: fadeInUp;
    animation-range: entry 20% cover 35%;
    animation-fill-mode: both;
  }
  .show-on-scrollLeft {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: fadeInLeft;
    animation-range: entry 20% cover 35%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .show-on-scrollRight {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: fadeInRight;
    animation-range: entry 20% cover 35%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
</style>
