---
import Testimonio from "./Testimonio.astro";
---

<link
  href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css"
  rel="stylesheet"
/>

<script type="module">
  import KeenSlider from "https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/+esm";

  const keenSlider = new KeenSlider(
    "#keen-slider",
    {
      loop: true,
      slides: {
        origin: "center",
        perView: 1,
        spacing: 16,
      },
      breakpoints: {
        "(min-width: 1400px)": {
          slides: {
            origin: "auto",
            perView: 3,
            spacing: 16,
          },
        },
        "(min-width: 1600px)": {
          slides: {
            origin: "auto",
            perView: 4,
            spacing: 16,
          },
        },
      },
    },
    [],
  );

  const keenSliderPrevious = document.getElementById("keen-slider-previous");
  const keenSliderNext = document.getElementById("keen-slider-next");

  keenSliderPrevious.addEventListener("click", () => keenSlider.prev());
  keenSliderNext.addEventListener("click", () => keenSlider.next());
</script>

<section class="bg-white overflow-hidden">
  <div class="mx-auto w-full px-4 py-12 sm:px-16 lg:py-16 xl:py-24">
    <div class="items-end justify-between md:flex md:pe-6 lg:pe-16">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">
        Lea rese침as confiables de nuestros clientes
      </h2>
    </div>

    <div class="mx-6 my-8 lg:col-span-3 lg:mx-0">
      <div id="keen-slider" class="keen-slider">
        <Testimonio
          texto="Movilizate est치 muy pendiente con mi d칤a a d칤a, da mucha confianza y ganas en seguir adelante... gracias!"
          nombre="To침i Rodr칤guez"
          img="/imgTestimonios/T1.webp"
          clase="object-contain"
        />
        <Testimonio
          texto="Movilizate est치 muy pendiente con mi d칤a a d칤a, da mucha confianza y ganas en seguir adelante... gracias!"
          nombre="To침i Rodr칤guez"
          img="/imgTestimonios/T2.webp"
          clase="object-contain"
        />
        <Testimonio
          texto="츼ngel es muy atento y abierto para cualquier duda que surja. Recomendable."
          nombre="To침i Rodr칤guez"
          img="/imgTestimonios/T3.webp"
          clase="object-cover"
        />
        <Testimonio
          texto="Agradecida infinitamente con El Universo por ponerme en el camino a Movil칤zate 游눜 siguiendo el plan de nutrici칩n y de ejercicios personalizado que hacen con mucha dedicaci칩n, los resultados se vayan notando pr치cticamente desde el primer momento 游눩un mill칩n de gracias 츼ngel y a todo tu equipo por vuestra profesionalidad y por darle un reseteo a mi metabolismo, adem치s que me gusta mucho cuidarme y moverme. An칤mate y no olvides que la disciplina y el amor son la base de todo"
          nombre="To침i Rodr칤guez"
          img="/imgTestimonios/T4.webp"
          clase="object-cover"
        />
      </div>
    </div>

    <div class="mt-8 flex gap-4 lg:mt-0 justify-center">
      <button
        aria-label="Previous slide"
        id="keen-slider-previous"
        class="rounded-full border border-rose-600 p-3 text-rose-600 transition hover:bg-rose-600 hover:text-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 rtl:rotate-180"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"></path>
        </svg>
      </button>
      <button
        aria-label="Next slide"
        id="keen-slider-next"
        class="rounded-full border border-rose-600 p-3 text-rose-600 transition hover:bg-rose-600 hover:text-white"
      >
        <svg
          class="size-5 rtl:rotate-180"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 5l7 7-7 7"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"></path>
        </svg>
      </button>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const blockquotes = document.getElementsByTagName("blockquote");
    let maxHeight = 100; // Altura m치xima deseada

    for (let i = 0; i < blockquotes.length; i++) {
      const blockquote = blockquotes[i];
      const paragraphs = blockquote.getElementsByTagName("p");
      for (let j = 0; j < paragraphs.length; j++) {
        const paragraph = paragraphs[j];
        const paragraphHeight = paragraph.clientHeight;

        if (paragraphHeight > maxHeight) {
          const button = blockquote.querySelector("button"); // Buscar un bot칩n dentro del bloque de citas
          if (button) {
            button.style.display = "inline-block"; // Mostrar el bot칩n si se encuentra
            button.textContent = "Seguir leyendo";

            button.addEventListener("click", function () {
              if (paragraph.style.maxHeight === "none") {
                paragraph.style.maxHeight = maxHeight + "px";
                this.textContent = "Seguir leyendo";
              } else {
                paragraph.style.maxHeight = "none";
                this.textContent = "Leer menos";
              }
            });

            paragraph.style.maxHeight = maxHeight + "px";
            blockquote.classList.remove("h-[297.96px]");
            break; // Salir del bucle al encontrar un p치rrafo que cumple la condici칩n
          }
        } else {
          const button = blockquote.querySelector("button"); // Buscar un bot칩n dentro del bloque de citas
          if (button) {
            button.style.display = "none"; // Ocultar el bot칩n si el p치rrafo es m치s corto que la altura m치xima
          }
        }
      }
    }
  });
</script>
