---
import IconoCheck from "./icons/IconoCheck.astro";
---

<div class="flex justify-center py-12">
    <div
        class="rounded-lg shadow-lg bg-white lg:max-w-[1024px] lg:flex p-6 max-w-sm lg:gap-12"
    >
        <div class="lg:w-1/2">
            <div class="flex justify-center">
                <h5
                    class="text-gray-900 text-3xl text-center rounded-lg font-bold mb-4 p-4 bg-[#029cd6] max-w-[300px]"
                >
                    Plan HIFEMFIT
                </h5>
            </div>
            <p class="text-gray-700 flex items-center gap-2 text-base mb-4">
                <IconoCheck class="size-8" /> Planes Movilízate
            </p>
            <p class="text-gray-700 flex items-center gap-2 text-base mb-4">
                <IconoCheck class="size-8" /> Tecnología Hifem
            </p>
            <p class="text-gray-700 text-center font-medium text-xl mb-4">
                Consigue resultados en 3 semanas y ponte en forma YA!
            </p>
        </div>
        <div class="lg:w-1/2">
            <a href="#!">
                <iframe
                    width="320"
                    height="240"
                    src="https://www.youtube.com/embed/FrZoF3OJk90"
                    class="w-full rounded-lg"
                    allowfullscreen
                >
                </iframe>
            </a>
        </div>
    </div>
</div>
