---
import IconoCheck from "./icons/IconoCheck.astro";
import video from "../assets/PlanHIFEMFIT.mp4";
---

<div class="flex justify-center py-12">
    <div
        class="lg:rounded-lg lg:shadow-lg bg-white lg:max-w-[1024px] lg:flex p-6 lg:gap-12 items-center"
    >
        <div class="lg:w-1/2 pb-5">
            <div class="flex justify-center">
                <h5
                    class="text-gray-900 text-3xl text-center rounded-lg font-bold mb-4 p-4 bg-[#029cd6] max-w-[300px]"
                >
                    Plan HIFEMFIT
                </h5>
            </div>
            <p class="text-gray-700 flex items-center gap-2 text-base mb-4">
                <IconoCheck class="size-8" /> Planes Movilízate
            </p>
            <p class="text-gray-700 flex items-center gap-2 text-base mb-4">
                <IconoCheck class="size-8" /> Tecnología Hifem
            </p>
            <p class="text-gray-700 text-center font-medium text-xl mb-4">
                Consigue resultados en 3 semanas y ponte en forma YA!
            </p>
            <a
                href="https://wa.me/message/74QEYHNENB3TF1"
                target="_blank"
                class="block bg-[#029cd6] px-5 py-3 text-center text-xs font-bold uppercase text-white transition hover:bg-[#0056b3] rounded-lg"
            >
                Comenzar
            </a>
        </div>
        <div class="lg:w-1/2">
            <a href="#!">
                <video
                    preload="auto"
                    controls
                    width="320"
                    height="240"
                    class="rounded-lg w-[320px] h-[240px]"
                >
                    <source src={video} type="video/mp4" />
                    Tu navegador no soporta la etiqueta de video.
                </video>
            </a>
        </div>
    </div>
</div>
